<!doctype html>
<html lang="en">

<head>
	<title>Quên Mật Khẩu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap}" rel="stylesheet">

	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

	<link rel="stylesheet" th:href="@{/css/style.css}">

	<style>
		body{
			background-image: url('/images/login/bg-login.jpg');
		}
		.img{
			background-image: url('/images/resetpassword/reset-pass.jpg');
		}
	</style>
</head>

<body >
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<!-- <h2 class="heading-section">Đăng Nhập</h2> -->
				</div>
			</div>
			<div class="row justify-content-center" ng-controller="changeprofileCtrl">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
						<div class="img d-flex align-items-center justify-content-center"
						></div>
						<h3 class="text-center mb-0">Quên Mật Khẩu</h3>
						<div th:if="${message !=null}" class="alert alert-primary text-center" role="alert">
                            <i>[[${message}]]</i>
                        </div>
						<!-- <p class="text-center">Sign in by entering the information below</p> -->
						<form class="login-form" method="POST">
							<!-- <div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-user"></span></div>
								<input type="text" ng-model="Username" class="form-control" placeholder="Username"
									required>
							</div> -->
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-envelope-o"></span></div>
								<input type="email" name="email" ng-model="email" class="form-control" placeholder="Email"
									required>
							</div>
							
							<div class="form-group">
								<button type="submit" class="btn form-control btn-primary rounded submit px-3">Reset Mật Khẩu</button>
							</div>
						</form>
						<div class="w-100 text-center mt-4 text">
							
							<a th:href="@{/techshop/login}">
								Đăng Nhập
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{/js/popper.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>

</html>